import scala.io.Source

override val description =
  """
    |This file is to demonstrate the configuring of elegance with scala syntax.
  """.stripMargin

def rules = defaultRules ++ Seq(
  headerMatches(Source.fromInputStream(getClass.getClassLoader.getResourceAsStream("apache.header")).mkString)
)